<% @page_title = "Home" %>

<div class="py-4 px-5 bg-light border">
  <h1 class="display-6 mb-4">Multifactor Authentication via Recovery Codes with Rodauth</h1>
  <p class="lead">This application demonstrates adding multifactor authentication via single-use recovery codes using <%= link_to "Rodauth", "http://rodauth.jeremyevans.net", target: "_blank" %>.</p>
  <p class="lead">You can find the source code at <%= link_to "github.com/janko-screencasts/multifactor-authentication-via-recovery-codes-with-rodauth", "https://github.com/janko-screencasts/multifactor-authentication-via-recovery-codes-with-rodauth", target: "_blank" %>.</p>
</div>
